<section>
  <h2>Editing Book</h2>

  <p>title</p>
  <%# title情報が反映されている入力フォームを下に作成 %>

  <p>Body</p>
  <%# body情報が反映されている入力フォームを下に作成 %>

  <div>Update Book</div>
</section>

<div>
  <a href="show.html">Show</a>|<a href="index.html">Back</a>
</div>