<div>
  <div>
    <p><strong>Title:</strong><%= @book.title %></p>
    <%# 「あ」の部分はindex.htmlのtitle部分で入力された文字を反映させる %>
    
    <p><strong>Body:</strong><%= @book.body %></p>
    <%# 「あ」の部分はindex.htmlのbody部分で入力された文字を反映させる %>
  </div>

  <div>
  <a href="edit.html">Edit</a>|<a href="index.html">Back</a>
  </div>
</div>