<div>
  <div>
    <p><strong>Title:</strong><%= @book.title %></p>
    <%# 「あ」の部分はindex.htmlのtitle部分で入力された文字を反映させる %>
    
    <p><strong>Body:</strong><%= @book.body %></p>
    <%# 「あ」の部分はindex.htmlのbody部分で入力された文字を反映させる %>
  </div>

  <div>
    <p>
      <span><%= link_to "Edit", edit_book_path(@book) %></span>
      <%# @bookはコントローラから送られてきた情報が格納されている！ %>
      |
      <span><%= link_to "Back", '/books' %></span>
      <%# link_toの記述の仕方はいくつかある！ → 分からなくなったらlink_toで検索！ %>
    </p>
  </div>
</div>